thumbs.db
.DS_Store
*.user
*.suo
[Bb]in/
[Oo]bj/
.vs/
.vscode/
*.nupkg

# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/

