environment:
  package_version: '1.5.0'
  assembly_version: '1.1.0.0'

version: '$(package_version)+{build}'

image: Visual Studio 2017

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '$(package_version)'
  assembly_version: '$(assembly_version)'

configuration: Release

before_build: dotnet restore

build:
  publish_nuget: true
  publish_nuget_symbols: true
  verbosity: minimal  

test_script: dotnet test -c %CONFIGURATION% CorrelatorSharp.Tests

deploy:
  - provider: GitHub
    description: |
      * .NET Standard 1.3+ support.
    on:
      appveyor_repo_tag: true

    release: v$(package_version)
    auth_token:
      secure: y4HfARa+GScoSgdsOIb7A3L8TV93/wiPBgJENisycZ6yKwBANmPEe1MesK4IC6rm

  - provider: NuGet
    api_key:
      secure: vZC+uEZj00A+9riSWLXqdnPtGa96W9SQkBy30dS2D5bOUdvteU9vOAP69QLJrY/o
    on:
      appveyor_repo_tag: true